[2018-03-04 16:10] mikegraham opened #1 "Some feedback from a quick readthrough"
array.ipynb

 - The description at the top "Dask Dataframes coordinate many Pandas dataframes," applies to dataframe, not array.

 - If this notebook is intended as one of the main intros, it's sort of annoying that the dashboard link situation is so fussy--I first clicked without running the cell, then ran the cell and got a link that won't work, then could click the right link. Since the link is

[2018-03-04 19:30] mrocklin commented on #1
Thanks @mikegraham !  This is super-helpful.  I think I've addressed *most* of our suggestions in 800be7eb59b23f8de4c6714d18ffd902c3d0363c .  For the dashboard link I agree that it's an issue.  I think I'm going to address this by making the dashboard link provided in the `Client` repr configurable.

If there is any other content you think would be useful please don't hesitate to speak up.  I woul

[2018-03-06 14:25] mrocklin commented on #1
I've now resolved the dashboard link as well.  Closing!

[2018-03-06 14:25] #1 closed

[2018-03-22 18:34] mrocklin opened #2 "Continuous Integration"
This repository could use continuous integration to ensure that the examples continue to work over time

I'm not familiar with tools to test notebooks, but other projects do this, so it must be doable.

[2018-03-22 18:36] mrocklin opened #3 "Organization"
Thinking optimistically, if we get many examples in this repository, how should we organize them?  I recommend that we have a small number of notebooks at the top level, showing an introduction for each topic like arrays, dataframes, delayed, ML,  ..., and also a directory for topics that have many additional notebooks.

[2018-04-05 02:20] mholtzscher commented on #2
@mrocklin do you have any example projects that do the testing you're looking for? I'd be interested in taking on this issue

[2018-04-05 10:48] mrocklin commented on #2
Good question.  I suspect that Scikit-Learn does this with [their example gallery](http://scikit-learn.org/stable/auto_examples/index.html).  I suspect that @TomAugspurger might know more as well.

[2018-04-05 10:48] mrocklin commented on #2
This would be great!

[2018-04-05 12:02] TomAugspurger commented on #2
Scikit-Learn uses sphinx-gallery to to convert an `.py` file to
restructured text & jupyter notebooks. I presume they're just running the
python file.

Since we're starting with notebooks, I think the best thing to do is to run
`jupyter nbconvert` on each notebook, to "convert" each to a notebook,
while executing it.

https://nbconvert.readthedocs.io/en/latest/execute_api.html

The main thing is t

[2018-04-06 16:43] mholtzscher commented on #3
I think that would be a very good start. Are you thinking about migrating notebooks from dask-tutorial or old-dask-example? It might be confusing to a new user to see 3 repos with examples and tutorials(It definitely confused me)

[2018-04-06 16:46] mrocklin commented on #3
I'm not sure, what do you think would be best?

If we did move things from other other repositories we would want to update and clean them up for the expected runtime environment of this repository: https://github.com/dask/dask-examples#contributing

[2018-04-06 17:26] mholtzscher commented on #3
Well I think I would go notebook by notebook and migrate over any content that is relevant/useful. Then add DEPRECATED to repo description and at the top of the README. Optionally then if you want then we could remove notebooks from that repo as they are migrated.

[2018-04-06 17:30] mrocklin commented on #3
That sounds great to me :)

On Fri, Apr 6, 2018 at 1:26 PM, mholtzscher <notifications@github.com>
wrote:

[2018-04-06 17:32] mholtzscher commented on #3
I will get started on this over the weekend then. Once the CI code is merged it should make checking them easy :)

[2018-04-06 17:37] #2 closed

[2018-04-11 14:11] TomAugspurger opened #9 "Add a license"
CC-BY-SA may make the most sense

[2018-04-13 00:45] mholtzscher commented on #3
@mrocklin from my initial read through and comparison it looks like this repo has most of the same content. The only difference is the sample projects that looked at nyc taxi data or github. I would say we should start over on example products. Thoughts?

[2018-04-13 01:16] mrocklin commented on #3
I'm not sure what you mean by this exactly.  Can you clarify?

On Thu, Apr 12, 2018 at 7:45 PM, mholtzscher <notifications@github.com>
wrote:

[2018-04-13 14:06] kvn219 commented on #3
@mrocklin and @mholtzscher  what are some of your thoughts on the way [HoloViews](https://github.com/ioam/holoviews) organized their examples? They have notebooks inside a examples directory with subdirectories.

<img width="1102" alt="screen shot 2018-04-13 at 9 52 21 am" src="https://user-images.githubusercontent.com/11036038/38738818-1c5c3e9c-3f01-11e8-85cb-0d4c9a836497.png">

In addition, how

[2018-04-13 16:01] mholtzscher commented on #3
@mrocklin  I meant to say "projects" not "products." :)

@kvn219 I think that is very close to the goal we have discussed so far. I think There will be some notebooks at high level that are the basics and then folders of more advanced notebooks

[2018-05-01 19:23] mrocklin opened #11 "Go through dataframe notebook with a pedagogical eye"
At AnacondaCon @AlbertDeFusco went through the dataframe notebook with me and provided a dozen small corrections to improve the flow of a novice user through the notebook.  I diligently copied down the changed notebook but seem to have lost all memory of where I placed it.

@AlbertDeFusco if you have time can I ask you for feedback on this notebook again?

Your attention on any of the notebooks he

[2018-07-02 18:58] mrocklin opened #16 "Include outputs in notebooks"
In https://github.com/dask/dask-examples/pull/14#issuecomment-401507027 @stsievert says

This seemed to be worth discussion, so I've raised a separate issue for it here.

[2018-07-02 19:01] mrocklin commented on #16
When working in project repositories like dask/dask or dask/dask-ml we always strip outputs of example notebooks to keep the size of the repository small.  Otherwise every time someone re-runs the notebook and produces an output plot the repo grows by a several hundred kB.  Aggregated over years of time the repository bloats out.

However, hygiene around this repository isn't as strict as with tho

[2018-07-02 19:04] martindurant commented on #16
I agree that "examples" have a decent argument for being rendered, where as "tutorials" should not be, since they are intended to be downloaded and run by users.

[2018-07-05 13:20] mrocklin commented on #3
@kvn219 I can see how that would be valuable.  Is there an easy way to roll this into the core dask documentation?

[2018-07-05 13:21] mrocklin commented on #3
@stsievert, you're now actually buidling more notebooks for machine learning.  Thoughts on this organization?

[2018-07-05 14:22] stsievert commented on #3
That's the organization I've wanted. I've almost done it, but have instead been prefixing with `machine-learning-` when I've wanted a directory `machine-learning/`.

[2018-07-05 14:32] stsievert commented on #3
Though right now it is clear visual separation between extraneous files and examples: all the extra files are in directories, and only the examples are plain files (besides a `.travis.yml` and `README.md`).

[2018-07-05 16:53] mrocklin commented on #3
I've hidden all of the extraneous directories in https://github.com/dask/dask-examples/pull/17

I'm still inclined to group notebooks into directories

[2018-07-14 13:15] mrocklin opened #20 "Add example for dealing with satellite imagery"
[This notebook](https://gist.github.com/mrocklin/3df315e93d4bdeccf76db93caca2a9bd) demonstrates using XArray and Dask with a large satellite image.  It downloads the image from S3 with rasterio and then loads it in chunks.

It doesn't do a whole lot with it afterwards though, which presumably we should change.  This, along with ensuring that the computation we choose also fits nicely in RAM (might

[2018-07-14 13:16] mrocklin opened #21 "Find good XArray example"
The [XArray docs](http://xarray.pydata.org/en/stable/) likely have some good informative examples that we could include in this repository.  We might also consider including XArray in the environment.

cc @shoyer @jhamman for insight

XArray might also want to fork and make their own repository, but they'd be welcome here as well

[2018-07-16 20:46] mrocklin opened #22 "Create GridSearch + RandomForest example with Joblib"
Once Scikit-Learn 0.20 is released we should create an example for scaling random forests with joblib.

We might consider embedding this video from [SciPy 2018 starting at 7:42](https://youtu.be/ccfsbuqsjgI?t=461)

[2018-07-18 13:16] mrocklin opened #23 "Dataframe notebook + video series"
I'm inclined to create a series of notebooks around dask dataframe that also include short 1-5 minute screencasts of the notebook in the top cell.  I'll propose the following structure based on experience with common stack overflow questions.  Feedback is welcome.

1.  Load and store Dask Dataframes
    - Dump artificial CSV data to disk using `dd.demo.make_timeseries().to_csv()`
    - Use read_cs

[2018-07-25 18:52] AlbertDeFusco commented on #23
@mrocklin, I like the comments about performance tuning in each section.

Perhaps another section could be what to do when you have Pandas code with `df.apply()`?

[2018-08-10 20:04] guillaumeeb commented on #20
I'm interested in this example, maybe I can work on it if I have find some time, this is typically something which can be of interest at CNES.

I can propose a basic example on satellite imagery which is NDVI computation, it just need an image with NIR band, which can be found in Sentinel 2 images.

See https://developers.google.com/earth-engine/tutorial_api_06 for an example.

We could compute th

[2018-08-10 20:15] guillaumeeb opened #30 "Add example for embarrassingly parallel parametrized computation"
Would this be of interest for people here to have an example with Dask showing how to do embarrassingly parallel computation on some simulation code?

The idea is that you have a code that does some heavy computation, it takes some parameters and return one or more values as a result. You want to evaluate the program on a grid, with a predefined list of inputs, or maybe with some randomly picked i

[2018-08-10 22:44] mrocklin commented on #20
That would be quite welcome

On Fri, Aug 10, 2018 at 4:04 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-10 22:45] mrocklin commented on #30
I agree that this is a common workflow and a simple version of it would be
a nice example to include.

On Fri, Aug 10, 2018 at 4:15 PM, Guillaume EB <notifications@github.com>
wrote:

[2018-08-31 20:49] mrocklin opened #35 "Use an already trained Keras model to predict on lots of data"
A common approach is to train on a bit of data and then use that trained model to predict on lots of data.  We could do this using ParallelPostFit in dask-ml, or we can use `X.map_blocks` or `df.map_partitions`.  In either case we might want to be a bit careful about avoiding repeated serializations costs.  For example, in the following case I suspect that we include the serialized model in every

[2018-08-31 21:19] mrocklin opened #36 "Switch to JupyterLab and use dask-labextension"
I believe that we should switch the default environment to use JupyterLab and that we should encode a specific layout on container startup.  In this way the user is presented with the dashboard without having to do anything.

@ian-r-rose is the best way to provide a default layout to create a JSON file and insert it into the `.jupyter/lab/workspaces` directory, or is there another common route for

[2018-09-03 12:38] #30 closed

[2018-09-14 19:42] guillaumeeb commented on #3
Is there still things to do here? Should we close it once #41 is merged?

Should we close #13 without merging it?

[2018-09-16 20:24] TomAugspurger opened #43 "Static Site Feedback"
http://dask.org/dask-examples/

- Some of the code examples are a bit wide, causing a horizontal scrollbar
- The Client repr could be improved with some external CSS
![screen shot 2018-09-16 at 3 15 11 pm](https://user-images.githubusercontent.com/1312546/45600504-62abfd00-b9c3-11e8-90c4-f749df085531.png)
- dask.array output repr is a bit too wide
![screen shot 2018-09-16 at 3 16 27 pm](https://us

[2018-09-16 20:40] mrocklin commented on #43
This is a nice list.  Thanks for putting it together.

In https://github.com/dask/dask-sphinx-theme/pull/8 I've resolved the green background for `pre` cells.  I suspect that by removing the `In/Out` prefixes that we'll improve the horizontal space in a couple cases.

I suspect that you have some thoughts on how to improve dataframe styling :)

[2018-09-17 14:42] #43 closed

[2018-09-26 18:10] mrocklin opened #46 "Dask Bag examples"
We currently lack dask bag examples in this repository.  Two come to mind:

1.  Read JSON data, and do some groupby aggregation with both `Bag.groupby` and `Bag.foldby`
2.  Read text data and do some basic wordcount

For the JSON data it might make sense to add a dataset generation tool for nested records data, similar to `dask.datasets.timeseries`, and then use that to generate JSON data to disk,

[2018-09-27 02:35] mrocklin commented on #22
0.20 is out

[2018-10-24 13:10] #23 closed

[2018-10-25 21:29] TomAugspurger commented on #35
FYI, I started on this at https://gist.github.com/TomAugspurger/2889a052b5fec4d691f83ba2062d2d92

As you predicted `X.map_blocks(model.predict)` was slow.

I stopped as soon as I hit an error, and didn't do any profiling yet. I'll pick it up again soon, but don't want else to duplicate effort.

[2018-10-25 21:30] mrocklin commented on #35
That's great.  When I started looking into this I quickly became lost on
how to set up the problem.  You appear to have enough practical experience
that that's not much of an issue for you.

I'll put this on my TODO list.  Now that there is a clear thing to
optimize/fix it's much easier for me.

On Thu, Oct 25, 2018 at 5:29 PM Tom Augspurger <notifications@github.com>
wrote:

[2018-10-25 21:32] TomAugspurger commented on #35
Oh, and `/profile-server` is going to be extremely useful here. On a whim, I tried `X.map_blocks(delayed(model.predict))` and the scheduler has been at 100% CPU for a minute while the workers are idle.

[2018-11-09 17:01] TomAugspurger commented on #35
Right I think I'm stalled on deserializing the TensorFlow graph in a new process https://gist.github.com/33efb49efe611701ef122f577d0e0430

[2018-11-09 17:02] TomAugspurger commented on #35
Probably putting this on the backburner for now, if others want to take a look.

[2018-12-11 18:54] jhamman commented on #9
Any opposition to me doing this today? I'd like to build off one of these notebooks for an upcoming workshop.

[2018-12-11 19:03] mrocklin commented on #9
My thoughts haven't changed from above.

[2019-02-06 05:59] mrocklin opened #58 "Docs aren't updating"
I think that our docs don't seem to be updating after we push.  We've added a couple notebooks in recent months that aren't showing up.

cc @TomAugspurger and @jcrist who might know a bit more about the doc build system here (I think doctr)

[2019-02-06 16:34] jcrist commented on #58
The docs are being built, and pushed, but the new notebooks (e.g. glm) have no link in the index. Here's the GLM one: http://examples.dask.org/machine-learning/glm

[2019-02-06 16:56] mrocklin commented on #58
Interesting.  I've added those to the index here: https://github.com/dask/dask-examples/pull/59

Any idea why the Applications section isn't coming up in the index?

[2019-02-06 17:04] jcrist commented on #58
Those are failing to build, and then the toctree has no items, warns, and then is ignored: https://travis-ci.org/dask/dask-examples/builds/487074754#L1596

[2019-02-06 17:06] jcrist commented on #58
Oop, nvm, they are building. The links should be `applications/*` though, that's the issue.

[2019-02-06 17:08] mrocklin commented on #58
Gah.  Thank you.  My brain is overly distracted these days.

On Wed, Feb 6, 2019 at 11:06 AM Jim Crist <notifications@github.com> wrote:

[2019-02-06 22:58] #58 closed

[2019-02-27 01:37] GenevieveBuckley opened #62 "Maintenence: update mybinder environment.yml dependency versions"
I noticed that the mybinder environment.yml file pins dask to version 0.20, but the latest dask release is now up to 1.1.2. It's probably time to update or unpin some of these dependencies. Should we do that?

Currently:
https://github.com/dask/dask-examples/blob/master/binder/environment.yml

[code]

[2019-02-27 01:43] mrocklin commented on #62
Yes indeed.  That would be good to do.  Would you be willing to submit the
PR?  I'll be curious (and hopeful) to see if the tests pass or if there
were any conflicting API changes.

On Tue, Feb 26, 2019 at 5:37 PM Genevieve Buckley <notifications@github.com>
wrote:

[2019-02-27 02:32] GenevieveBuckley commented on #62
Sure, I can do that.

Do you prefer to have things unpinned if possible, or just increment to a newer release? We'll probably run into this problem again (outdated dependencies) before too long if we keep things pinned, so I'd prefer not to. But I'd understand if you feel pull requests aren't frequent enough on this repo to trigger tests and alert us of any future issues.

[2019-02-27 03:56] mrocklin commented on #62
I'd generally prefer that we keep things pinned.  Otherwise bugs from
mismatched versions might creep in without us knowing about it and things
will go down and cause confusion.  Instead I'd rather that we be explicit
when we change versions and address any bugs that come up when we make such
a change.

On Tue, Feb 26, 2019 at 6:32 PM Genevieve Buckley <notifications@github.com>
wrote:

[2019-02-28 07:18] GenevieveBuckley commented on #62
To update: I think it's better to put this issue on hold until the next dask-ml release is available.

I think this because upgrading dask versions has unearthed a few bugs, and the new release should contain some of the fixes we need.

### Error 1
`AttributeError: module 'dask' has no attribute 'sharedict'`, seen in the dask-examples/machine-learning/incremental.ipynb notebook. This is addressed

[2019-02-28 15:15] mrocklin commented on #62
cc @TomAugspurger @jrbourbeau no pressure, but do you all have a timeline
on a dask-ml release?

On Wed, Feb 27, 2019 at 11:18 PM Genevieve Buckley <notifications@github.com>
wrote:

[2019-02-28 15:15] mrocklin commented on #62
Also, thanks for driving this and unearthing these bugs @GenevieveBuckley !  It's a great help.

[2019-02-28 15:23] TomAugspurger commented on #62
Whoops forgot to last week. I’ll take a look at doing one today.

[2019-02-28 17:21] TomAugspurger commented on #62
released dask-ml 0.12.0. Binaries should be showing up in
https://anaconda.org/conda-forge/dask-ml over the next hour or two.

On Thu, Feb 28, 2019 at 9:23 AM Tom Augspurger <tom.augspurger88@gmail.com>
wrote:

[2019-02-28 20:52] mrocklin commented on #62
If possible I'd like to revert this change.  I'd like for us to avoid having the examples work around bugs.  I'm more than happy to prioritize bugfixes that block this.  (I think that the underlying issue has now been fixed, and a dask/dask release is imminent).

[2019-02-28 23:03] GenevieveBuckley commented on #62
Totally fine, I can revert that change. I was not expecting everyone to be so quick with bugfixes & new releases!

[2019-03-02 21:13] guillaumeeb commented on #20
I think this issue is closed by #60!

[2019-03-03 06:22] mrocklin commented on #20
Indeed.  Thanks @rmsare !

[2019-03-03 06:22] #20 closed

[2019-03-11 02:04] #62 closed

[2019-03-29 06:33] mrocklin opened #64 "Lab extension plots not showing up"
Plots are no longer showing up.  I believe that this may be due to recent security changes in JLab. Any suggestions on how to handle this @ian-r-rose ?

I've also pushed a binder with more up-to-date versions here: https://mybinder.org/v2/gh/mrocklin/dask-examples/update-labextension?urlpath=lab

[2019-03-29 06:35] mrocklin commented on #64
[code]

[2019-03-29 15:43] ian-r-rose commented on #64
I'm not sure what the problem is just yet: I don't think it's changes to recent iframe-ing security policies in JupyterLab, since those are in the prerelease, rather than `0.35`. Have there been any recent changes to `distributed` or the bokeh webserver that might result in a different security model?

[2019-03-29 15:45] ian-r-rose commented on #64
I see the same issue in `dask/dask-examples` master, which suggests to me that there may be some dependency that released a breaking change.

[2019-03-29 15:56] ian-r-rose commented on #64
Could also be related to a recent snafu with Tornado 6, which was released a couple of weeks ago.

[2019-03-29 16:03] ian-r-rose commented on #64
Possible other related issues: jupyterhub/jupyter-server-proxy#109, jupyterhub/jupyter-server-proxy#115

[2019-03-29 22:30] ian-r-rose commented on #64
@mrocklin did dask have any troubles with tornado 6?

[2019-03-29 23:46] mrocklin commented on #64
A couple small ones, but we cleaned them up a release ago

[2019-03-31 01:27] #64 closed

[2019-04-23 14:36] sephib opened #68 "notebook example for transfering code from pure pandas to dask"
Hi,
I'm writing a notebook example to highlight some key differences between pandas and dask.  Are you interested in such a PR?
If so i have currently the following  topics - (are there any additional topics that I should include?) :
1. Dask does not update - thus no "inplace=True": (e.g. rename, reset_index, dropna,)
2. reading/saving dataframes (with *)
3. some gotcha's with index
4. dd.Aggregat

[2019-04-23 16:10] mrocklin commented on #68
Sure, something like that seems nicely in scope.  I look forward to seeing
what you come up with!

On Tue, Apr 23, 2019 at 9:36 AM sephib <notifications@github.com> wrote:

[2019-04-28 12:35] sephib commented on #68
Hi,
I'll try and get some information from the [stackoverflow data](https://data.stackexchange.com/stackoverflow/query/edit/1039359)
Once I analyze it I'll update to get your feedback.

[2019-05-21 13:30] mrocklin commented on #21
I thought I'd ping on this.  It would be great to include an Xarray example on dask.examples.org (a combination static HTML site and runnable binder).  Xarray folks, any interest?  This site gets decent traffic and would be, I think, good advertising for Xarray

[2019-05-21 13:32] mrocklin opened #72 "Add Prefect example?"
@cicdw any interest in adding an example notebook building a Prefect workflow to examples.dask.org ?  https://github.com/dask/dask-examples#contributing

This site gets decent traffic, and we provide testing, HTML static output generation, and serving as a binder.

[2019-05-21 13:39] jhamman commented on #21
Are you thinking something beyond what I did in #51: https://examples.dask.org/xarray.html?

[2019-05-21 13:42] mrocklin commented on #21
Ah, nope.  That's great.  Just an oversight on my part. Closing!

[2019-05-21 13:42] #21 closed

[2019-05-21 18:40] cicdw commented on #72
Yea, absolutely!  It might take me a bit to come up with a good example, but I'm definitely on board.

[2019-05-24 22:41] cicdw commented on #72
Would you consider the [Google BigQuery datasets](https://cloud.google.com/bigquery/public-data/) suitable for an external data source?

[2019-05-25 14:31] mrocklin commented on #72
Sure, that sounds great assuming we can access then anonymously.

On Fri, May 24, 2019 at 5:41 PM Chris White <notifications@github.com>
wrote:

[2019-06-05 11:59] willirath opened #74 "Add example showing resilience against worker deaths?"
In preparation for a dask-jobqueue workshop, I'm playing with partially preemptible clusters.  Would it make sense to add an example using a mocked up partially resilient `LocalCluster` to show that dask is able to handle dying ressources?

A draft that works on the current examples binder is here:
https://gist.github.com/willirath/c6e5e26204b33bb4415923329a6b8723

[2019-06-05 12:27] TomAugspurger commented on #74
I think that would make for a nice example. Based on the example, my main
comment would be adding a link to
https://distributed.dask.org/en/latest/resilience.html, and noting that a
node getting preempted
is essentially a hardware failure:
https://distributed.dask.org/en/latest/resilience.html#hardware-failures.

On Wed, Jun 5, 2019 at 6:59 AM Willi Rath <notifications@github.com> wrote:

[2019-06-07 21:14] cicdw commented on #72
Just for tracking, small update: I can't query the BigQuery datasets anonymously, so I've come up with a toy example with sqlite3 that will use a reasonably large number of tasks, and highlights how Prefect / Dask work together.  My personal goal is to have up for review late next week.

[2019-06-07 21:15] mrocklin commented on #72
Woot.  Thanks for keeping on this Chris.

On Fri, Jun 7, 2019 at 2:14 PM Chris White <notifications@github.com> wrote:

[2019-06-11 14:37] mrocklin opened #77 "Lab extension no longer active"
Our binder environment no longer seems to have the dask labextension active.  Perhaps this was caused by an upstream change in the jupyter environment?

@ian-r-rose any thoughts on what might have happened here?

Looking at some build logs I'm getting this

[code]

[2019-06-11 16:15] ian-r-rose commented on #77
It kind of looks like the version of JupyterLab has been *downgraded*. Weird. I'll poke around.

[2019-06-11 16:17] ian-r-rose commented on #77
n.b. alpha releases of JupyterLab have been coming thick in the last few days, it's possible something has been mis-tagged and the solver got confused.

[2019-06-14 08:09] AakashKumarNain commented on #35
@TomAugspurger @mrocklin Once we have our `stacked` delayed dask array, can't we just generate batches of data from it on the fly? Something like this

[code]

Is there any way to do this?

[2019-06-14 09:00] willirath opened #78 "Jupyterlab broken in binder?"
Currently, I get a broken JupyterLab on binder while the standard notebook interface seems to be working.

(Possibly related to #77.)

[2019-06-14 10:54] mrocklin commented on #35
It depends on what you mean by "batch" I guess.  You can slice into x in a variety of ways

[code]

Some ways of slicing will be cheap (like above), some won't, depending on chunk structure.

[2019-06-14 10:54] mrocklin commented on #78
cc @ian-r-rose

[2019-06-14 11:03] AakashKumarNain commented on #35
Thanks @mrocklin I would elaborate a bit on that. Say I have `50,000` images on my disk. I cannot load all the data in memory once. In normal case, we would use a `generator` that yields batch of data.  For example, for a batch size of `32`, each batch would contain `32` images. This batch is then fed into the model and trained on it.

Now, with a simple python generator we are using only one core

[2019-06-14 11:06] mrocklin commented on #35
The same as you would with NumPy

[code]

chunk is a dask array here.  I'm not sure if that's what you want.  You might want to call compute or delay the fit call (although Keras has issues sometimes with moving to other threads).

[2019-06-14 11:11] AakashKumarNain commented on #35
Cool. Thanks a lot for your time. Yeah, I am aware of those issues, and that is why I just dask for batch generation and no delayed calls to `fit`.

[2019-06-17 07:26] #77 closed

[2019-06-17 07:26] #78 closed

[2019-06-17 10:01] mrocklin opened #80 "Workspace not showing up"
When we first load the page, the dashboard address isn't populated and the task stream and progress plots aren't arranged on the screen.

My first guess was that this was due to a change in the workspace file spec, so I decided to generate a new one.  However I ran into an error that I don't fully underestand.

[code]
[code]
cc @ian-r-rose

[2019-06-17 14:41] ian-r-rose commented on #80
The churn in the last week has been challenging to keep up with -- that has been fixed in master but not in the released alpha yet. I'll get a fix for that here as soon as I can. I'm not sure why my `cp` workaround didn't have the desired affect: if I run the `start` script manually in the binder container it seems to work.

[2019-06-17 16:13] mrocklin commented on #80
No worries.  Thanks for the explanation.  It's ok if things aren't optimal
on our end for a little while.  I'm looking forward to the 1.0.0 release :)

On Mon, Jun 17, 2019 at 4:41 PM Ian Rose <notifications@github.com> wrote:

[2019-06-19 18:52] martindurant commented on #72
ping @cicdw , looking forward to seeing your example

[2019-06-19 18:55] cicdw commented on #72
Sorry for the delay! We just started our platform rollout and time got away from me.  Will tackle this ASAP.

[2019-06-19 18:56] martindurant commented on #72
Glad to hear it :)

[2019-06-24 07:15] mrocklin opened #85 "Occasional failure in HTTP bytes"
When running CI in this project I sometimes run across the following error:

[code]

@martindurant , this seems to be in your general domain.  Do you have any suggestions on what might be happening here?

[2019-06-24 10:35] mrocklin commented on #80
Thanks @ian-r-rose !

[2019-06-24 10:35] #80 closed

[2019-06-24 10:36] mrocklin commented on #16
I'm going to close this.  Our solution was to run the notebooks and then place their evaluated forms on https://example.dask.org

[2019-06-24 10:36] #16 closed

[2019-06-24 15:09] stsievert commented on #16
:+1: that’s an even better solution!

[2019-06-24 15:29] martindurant commented on #85
I'm not sure there's much we can do about broken connections, I can't see that it could be any fault of ours; retries could be built into the HTTPFileSystem, but perhaps it's better to retry the whole tasks in such cases.

[2019-06-24 15:31] mrocklin commented on #85
Is there a good reason to avoid retries in `HTTPFileSystem`?

[2019-06-24 15:43] martindurant commented on #85
No, but a couple of things that make it tricky:
- it is tricky to consider which set of errors should lead to a retry. Perhaps would have to retry everything
- some things, like establishing the initial connection, are already retried by requests/urllib
- if it's a timeout, then a set of retries might take a very long time to fail
- in the fsspec implementation, there is a non-seekable fallback mo

[2019-06-24 15:46] martindurant commented on #85
This SO answer might be the best way to do it globally: https://stackoverflow.com/a/15431343/3821154 , allows you to be explicit about retries following a connection error that should apply to all connections within a session

[2019-06-25 04:04] cicdw commented on #72
I've gotten most of the way through with this, so should have it up for review in the next day or two!

[2019-07-08 20:15] #72 closed

[2019-08-08 15:50] TomAugspurger commented on #74
I think this was closed by https://github.com/dask/dask-examples/pull/75

[2019-08-08 15:50] #74 closed

[2019-09-04 03:50] mrocklin opened #94 "Make the live notebook element more prominent"
When I've shown people examples.dask.org they often don't realize that they can click on the "Launch Binder" button and get a live session.  This is despite our header at the top which says:

I think that we might make this more prominent by

1.  Using a button, similar to the "Launch Binder" button, but more obvious to people who are unfamiliar with Binder
2.   Making that button very large?
3.

[2019-09-04 23:04] jrbourbeau commented on #94
Do you think it's more an issue of seeing the header, not knowing what binder is, and so ignoring and moving on. Or not noticing the header at all?

If we think the header isn't standing out enough, one simple (and hopefully effective) thing we could do is use the sphinx `.. note::` directive to place the header in a blue box that should draw more attention to it (e.g. I've used this in another pr

[2019-09-05 01:24] mrocklin commented on #94
Yeah, I think that the note directive would be great.  I also think that we
could improve upon the binder button (See
https://github.com/jupyterhub/mybinder.org-deploy/issues/1147 ) .  I think
that any change in any of these directions would have a large impact.

On Wed, Sep 4, 2019 at 7:04 PM James Bourbeau <notifications@github.com>
wrote:

[2019-09-05 02:16] jrbourbeau commented on #94
I opened up #95 which has some updates (happy to add more as we see fit). Glad to see the upstream discussion : )

[2019-09-06 20:10] jrbourbeau opened #96 "Use fsspec release"
We switched to installing `fsspec` from `master` in #95. We should revert back to installing a release version once there's a new release with the changes in https://github.com/intake/filesystem_spec/pull/128. Note: at the time of opening this issue the latest release is `fsspec==0.4.4`

[2019-09-09 23:21] bw4sz commented on #35
@AakashKumarNain I have a similar use case, did you find performance improvements when transitioning from Numpy to dask, reading image slices from file?

[2019-09-12 15:14] TomAugspurger opened #97 "Add ReviewNB GitHub app"
Any objections to adding this GitHub app to this repository? https://www.reviewnb.com

It requires

[code]

You can see an example at https://github.com/stijnvanhoey/pandas-getting-started-tutorials/pull/2 / https://app.reviewnb.com/stijnvanhoey/pandas-getting-started-tutorials/pull/2/files/.

[2019-09-12 16:03] #97 closed, assigned to nobody

[2019-09-22 20:59] jrbourbeau commented on #96
Closing this issue as we're getting `fsspec` from `conda` installing `dask` now

[2019-09-22 20:59] #96 closed

[2019-09-23 13:37] mrocklin opened #104 "JupyterLab workspace no longer active"
It seems that our pre-defined workspace is no longer showing up on dask-examples.  When I run `jupyter lab workspaces export` I do find that it's using the same workspace that we give it, but it's not showing up correctly.

@ian-r-rose do you have any thoughts on why this might be?  Has JupyterLab changed how it interprets workspaces recently?

[2019-09-23 13:55] ian-r-rose commented on #104
@mrocklin I just launched the binder and it seems to be working okay. Is there something I'm not seeing that I should be?
![image](https://user-images.githubusercontent.com/5728311/65431966-2f1e6280-ddcf-11e9-8d96-d8ebdbaf6a21.png)

[2019-09-23 14:02] mrocklin commented on #104
Hrm, that looks great.  It's definitely not what I get though.

<img width="1680" alt="Screen Shot 2019-09-23 at 9 01 08 AM" src="https://user-images.githubusercontent.com/306380/65432440-c809a980-dde0-11e9-96e1-373df3215e6f.png">

[2019-09-28 15:23] mrocklin opened #105 "Add satpy example?"
@djhoese any interest?

There is also https://examples.dask.org/applications/satellite-imagery-geotiff.html , but maybe there is more that we could add there or other examples that we could add.

As a reminder, examples in dask-examples are tested, rendered statically to serve from examples.dask.org, and available for users as runnable binders.  It's nice way to reach users, and a nice way to have

[2019-09-28 16:58] djhoese commented on #105
There is probably some publicly available input data I could use, but if not is there somewhere you would recommend I put data?

CC @mraspaud @pnuu

[2019-09-28 17:16] mrocklin commented on #105
Something publicly accessible would be great.  We could probably ask the Pangeo group to host some modest amount of data easily.

cc @scottyhq , who might be interested in this topic.

[2019-10-04 15:38] bhishanpdl opened #109 "HyperbandSearchCv gives ImportError"
I was following through the example notebook: https://github.com/dask/dask-examples/blob/master/machine-learning/hyperparam-opt.ipynb

In the cell:
[code]

It gives following error:
[code]

My imports:
[code]

How to fix the error?

[2019-10-04 16:10] jrbourbeau commented on #109
What version of Dask-ML are you using? Does updating to the latest release help? I believe this `ImportError` was fixed in https://github.com/dask/dask-ml/pull/489

[2019-10-04 16:59] mrocklin commented on #109
These examples are tested against these versions: https://github.com/dask/dask-examples/blob/master/binder/environment.yml

[2019-10-07 04:09] jrbourbeau commented on #109
Closing in favor of https://github.com/dask/dask/issues/5466, @bhishanpdl please feel free to follow-up in the upstream `dask` issue. Thanks!

[2019-10-07 04:09] #109 closed

[2019-10-08 06:07] kmader opened #110 "Stencil example overlap?"
In the [Stencil example](https://github.com/dask/dask-examples/blob/master/applications/stencils-with-numba.ipynb), the parallel code doesn't do anything to handle boundaries or overlapping. I assume this means that at the block edges their could be some discrepancies? Should this be mentioned or is it small enough to not be significant?

[2019-10-08 12:52] mrocklin commented on #110
We don't apply the stencil across blocks in that dimension.  The
parallelism is embarrassing in this case.  If you're looking for
overlapping then you might want to take a look at
https://docs.dask.org/en/latest/array-overlap.html

If you're interested in submitting an example for overlapping computations,
that would be welcome.

On Tue, Oct 8, 2019 at 1:07 AM Kevin Mader <notifications@github.com

[2019-10-08 15:03] kmader commented on #110
Ok so it seems like it would be a good idea to mention in the stencils case
that for situations requiring perfect matching (block edges won’t match)
the array_overlap is required and making an example for that? I can’t
immediately think of a compelling use case where identical results are
required but I can try to think of one, maybe some sort of diffusion
simulation?

On Tue, Oct 8, 2019 at 2:52

[2019-10-10 00:36] skeller88 commented on #35
@AakashKumarNain same question on this. What code did you end up using? How was the performance? I want to use a keras.utils.Sequence subclass to leverage [keras fit_generator](https://keras.io/models/sequential/#fit_generator), so I'm thinking something that keeps the images in a dask array and then loads each batch into memory:

[code]

[2019-10-10 18:22] AakashKumarNain commented on #35
@skeller88 I didn't try it. I was trying to benchmark it with tf.dataset. But this certainly looks good to this point.

[2019-10-10 18:53] mrocklin opened #111 "Use an already trained Torch model to predict on lots of data"
Extending on #35 it would be nice to have an example using Dask and Torch together to parallelize prediction.  This should be a simple embarrassingly parallel use case, but I suspect that it would be pragmatic for lots of folks.

The challenge, I think, is constructing a simple example that hopefully doesn't get too much into Torch or a dataset.  In my ideal world this would be something like

[co

[2019-10-10 19:16] stsievert commented on #111
cc @muammar

In addition to this example, I'd also link to integration with a Scikit-learn wrapper for PyTorch [skorch] and Dask-ML's [ParallelPostFit][1].

[skorch]:https://skorch.readthedocs.io/en/stable/
[1]:https://ml.dask.org/modules/generated/dask_ml.wrappers.ParallelPostFit.html

[2019-10-15 21:49] TomAugspurger commented on #111
Should have an example ready tomorrow.

I think we'll want to go into some detail about `torch.utils.data.Dataset`, because it's not 100% straightforward how to get the data loaded onto workers. To predict for a directory of images, I had to write the following myself

[code]

and use it as

[code]

For s3, the usage would be `FileDataset(files, ..., loader=functools.partial(default_loader, fs=s3f

[2019-10-15 21:53] mrocklin commented on #111
Do we need to use the Torch Dataset API here?

I guess my hope is that, for image data at least, we could just pass around Numpy arrays.  So we might created dask.delayed objects using `skimage.io.imread` or something similar.  (maybe like https://blog.dask.org/2019/06/20/load-image-data , but before the dask array bit)

[2019-10-15 21:54] mrocklin commented on #111
Also, if you haven't seen it, this video is nice: https://developer.download.nvidia.com/video/gputechconf/gtc/2019/video/S9198/s9198-dask-and-v100s-for-fast-distributed-batch-scoring-of-computer-vision-workloads.mp4

[2019-10-15 22:29] TomAugspurger commented on #111
Ahh, yes if we’re doing prediction only we can probably do that. A Dataset would only be necessary for training.

[2019-10-15 22:30] mrocklin commented on #111
Distributed training would also be interesting of course, but my guess is
that that's more of an open problem.  It's not clear to me which way is the
right way.

On Tue, Oct 15, 2019 at 3:29 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-10-16 00:22] stsievert commented on #111
I'm curious about inputs of Dask Arrays and outputs of model predictions too. I *think* PyTorch `Dataset`s will need to play an intermediate role; at least that's what skorch uses when tracing [net.py's Net.predict][net.py] to [net.py#L1150][2].

[2]:https://github.com/skorch-dev/skorch/blob/79b1c70fbf0b58e8f615f06e02c1bad81a0dbfe7/skorch/net.py#L1150

[net.py]:https://github.com/skorch-dev/skorch

[2019-10-18 22:10] AlbertDeFusco commented on #111
Skorch looks interesting to me. Can the wrapper be used after loading the model from disk where the wrapper was not used?

I've practiced applying the dask-ml parallelpostfit wrapper on a pre-trained model and I remember having to do a few manual steps before running predictions. I need to dig up that code.

[2019-10-19 21:20] stsievert commented on #111
Yup. The underlying model is simple an attribute `.module_`, so it's simple:

[code]

[2019-10-25 18:39] #111 closed

[2019-11-24 02:59] codingyesiamalway opened #121 "Error from dask xgboost"
I was trying a contrived example with the following code...got this long unexpected error. Any idea in how to proceed?

`import dask_xgboost
params = {'objective': 'binary:logistic',
          'max_depth': 4, 'eta': 0.01, 'subsample': 0.5,
          'min_child_weight': 0.5}

bst = dask_xgboost.train(client, params, train_df.to_dask_array(), label_df.to_dask_array(), num_boost_round=10)`

TypeError

[2019-11-25 13:35] TomAugspurger commented on #121
Is that the full traceback?

Do things train to completion on a subset of data using just xgboost, pandas, and numpy?

[2020-01-04 18:01] mrocklin opened #126 "Dask-ML Scikit-Learn ImportError"
It seems that the recent sklearn update has broken dask-ml, which breaks our CI.

This is odd though, since we seem to pin Scikit-Learn in our environment.yml

[code]

[2020-01-04 18:46] #126 closed

[2020-01-12 09:49] willirath opened #128 "Dashboard link broken on some binder deployments."
See <https://discourse.jupyter.org/t/gesis-hub-blocks-dask-dashboard/3019>.

With
<https://github.com/dask/dask-examples/blob/c14b7dc809c17066224cb5b8353e78c9aebe9ccc/binder/start#L4>
assuming that the full URL always is along the lines of `https://binder.something.example.com/user/${JUPYTERHUB_USER}/proxy/8787` which is not necessarily true.

[2020-01-13 15:57] quasiben commented on #128
@TomAugspurger i don't have write access to this repo .  Can you take a look and/or give me commit writes ?

[2020-01-13 16:14] TomAugspurger commented on #128
@quasiben added.

[2020-01-15 17:35] bw4sz commented on #35
@mrocklin I think I'm stumbling on the exact issue "#maybe bad" mentioned at the top.

psuedo code (working on reproducible)

We have a large number of numpy arrays (geospatial tiles) and an object detection model.

This works in serial.

[code]
Following your thought from above,
this
[code]
has some sort of multiprocessing tensorflow error

[code]
 one level up on traceback is
tensorflow/python/f

[2020-01-16 18:44] bw4sz commented on #35
I created a working example here for those who find this link: https://github.com/dask/distributed/issues/2333

[2020-02-18 11:15] tslott opened #133 "Binder notebook "training-on-large-datasets.ipynb" fails when importing dask_ml.cluster"
The notebook imports on old version of dask-ml. Fix this by updating binder/environment.yml to use newer version of dask-ml.

dask-ml=1.1.1 -> dask-ml=1.2.0

[2020-02-18 11:44] TomAugspurger commented on #133
What's the actual traceback?

[2020-02-18 12:19] tslott commented on #133
`---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-001abd10b0d1> in <module>
      1 import dask_ml.datasets
----> 2 import dask_ml.cluster
      3 import matplotlib.pyplot as plt

/srv/conda/envs/notebook/lib/python3.7/site-packages/dask_ml/cluster/__init__.py in <module>
      1

[2020-02-18 12:23] tslott commented on #133
[code]
      3 if SK_022:
----> 4     from sklearn.cluster._k_means import _k_init
      5 else:
      6     from sklearn.cluster.k_means_ import _k_init
[code]

[2020-02-18 13:21] TomAugspurger commented on #133
Thanks.

[2020-02-26 12:51] TomAugspurger opened #137 "Unpin sphinx"
In https://github.com/dask/dask-examples/pull/134, CI was failing after 20 minutes with

[code]

See https://travis-ci.org/dask/dask-examples/builds/651935612?utm_source=github_status&utm_medium=notification

We avoid that by pinning to 2.3.1. Ideally we would unpin sphinx and figure out what's wrong. Perhaps we start by changing the `sphinx-build -M html . _build -vv` to just be `-v`

[2020-02-27 07:54] fatsoengineer opened #138 "`predictions = dask.compute(*predictions)` gives errror for torch-prediction.ipynb file"
I was running the notebook for batch prediction
The following code gave an error : `predictions = dask.compute(*predictions)`
Error:
`TypeError: stack(): argument 'tensors' (position 1) must be tuple of Tensors, not builtin_function_or_method`

I can't figure out why. Any solutions?

[2020-02-27 11:53] TomAugspurger commented on #138
Can you post the full traceback?

[2020-03-04 11:23] tomasleon2 commented on #121
Hi, I'm trying something very similar and facing the same error.. did you figure out the solution?
Regards!

[2020-03-06 17:06] #128 closed

[2020-03-06 17:46] #137 closed

[2020-03-09 05:57] fatsoengineer commented on #138
TypeError                                 Traceback (most recent call last)
<ipython-input-26-1daab7e2a510> in <module>
----> 1 predictions = dask.compute(*predictions)
      2 predictions

/mydata/anaconda3/envs/detectron_2/lib/python3.6/site-packages/dask/base.py in compute(*args, **kwargs)
    435     keys = [x.__dask_keys__() for x in collections]
    436     postcomputes = [x.__dask_postcompu

[2020-03-09 15:20] TomAugspurger commented on #138
Thanks. It'll be a while before I can take another look. Are you able to
run through things and see what's going wrong?

On Mon, Mar 9, 2020 at 12:57 AM fatsoengineer <notifications@github.com>
wrote:

[2020-04-08 13:43] martindurant commented on #133
@TomAugspurger , was this resolved?

[2020-04-08 13:45] TomAugspurger commented on #133
Yep, resolved in dask-ml.

[2020-04-08 13:45] #133 closed

[2020-04-08 13:45] martindurant commented on #138
@fatsoengineer , any further details?
@TomAugspurger , anyone else who might help here?

[2020-04-08 13:51] TomAugspurger commented on #138
Not sure.

On Wed, Apr 8, 2020 at 8:45 AM Martin Durant <notifications@github.com>
wrote:

[2020-05-23 17:16] mrocklin commented on #35
This keeps coming up.  I'm adding it to the core maintenance project board.
 https://stackoverflow.com/questions/61924824/how-to-do-model-predict-using-distributed-dask-with-a-pre-trained-keras-model

[2020-05-23 19:29] bw4sz commented on #35
@mrocklin happy to help if I can with tests, I use this kind of workflow
frequently with dask-jobqueue for submitting to GPU clusters

On Sat, May 23, 2020 at 10:16 AM Matthew Rocklin <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.com/

[2020-06-02 19:35] raybellwaves opened #150 "doc: link dataframe-groupby aggregate to 02-groupby"
Would be good to have a link to https://docs.dask.org/en/latest/dataframe-groupby.html#aggregate in https://github.com/dask/dask-examples/blob/master/dataframes/02-groupby.ipynb

This is probably more so because googling dask dataframe group by takes me to https://examples.dask.org/dataframes/02-groupby.html and I know there is more info in the docs https://docs.dask.org/en/latest/dataframe-groupb

[2020-06-03 15:15] TomAugspurger commented on #150
Agreed. A short section saying that dd.Aggregation is available for custom
aggregations would be welcome.

On Tue, Jun 2, 2020 at 2:35 PM Ray Bell <notifications@github.com> wrote:

[2020-06-04 18:38] hammer opened #152 "Regularly check for broken links"
Inspired by https://github.com/dask/dask-examples/pull/151, which I encountered manually, I just ran http://examples.dask.org through a dead link checker and found a handful of broken links. I don't have time to fix them all right now but I just thought I'd drop the results here.

It might be a good idea to include a dead link check as part of the website deploy, but that may also be overkill!

|

[2020-06-08 15:03] mrocklin commented on #152
cc @dask/maintenance

[2020-06-08 15:08] martindurant commented on #152
Note that all the ones with 8787 are clearly not meant to exist, they would refer to a running scheduler.
Adding a link checker isn't a bad idea, but I wouldn't require success it for a PR to pass.

[2020-06-08 15:12] mrocklin commented on #152
Yeah, I'm more concerned with fixing the links pointing to old or stale documentation.  I agree that many of these probably came from docs that referred to addreses generally.

[2020-06-08 15:49] jsignell commented on #152
Yeah the built docs have the same issue. I agree fixing is more important than adding a CI check.

[2020-06-08 15:52] jsignell commented on #152
Especially since it will always be external changes that would cause a failure.

[2020-06-08 16:04] mrocklin commented on #152
Well, I think that CI would also be grand, if only to make us aware of failures as they arise due to external changes.  I'll take what I can get though.  Fixing exisitng links, or adding redirects upstream (see docs/conf.py in most repositories) should be an easy fix for most folks.

[2020-06-16 21:30] anaszain89 commented on #138
@TomAugspurger / @martindurant
I was working with this notebook too.. This error stems from an issue in the line
[code]
This should be
[code]
That still runs into an issue `KilledWorker: ('load-87d45322-2b06-4144-ae54-d4b8035961bd', )`. This is because the model is on the GPU at the end of fine-tuning. Moving it back to the CPU `dmodel = dask.delayed(model.cpu())` removes this error and prediction

[2020-06-16 21:33] martindurant commented on #138
Ooops, indeed that looks like it should have been `(batch)`. Definitely please put that in a PR. If indeed it needs to move gpu->cpu, that had better come with a comment in the text.

To extend should maybe come as a separate PR, but I'm sure we'd be happy to see it.

[2020-06-17 11:08] #150 closed

[2020-06-22 16:17] raybellwaves opened #155 "Machine Learning broken link"
At the bottom of

https://examples.dask.org/machine-learning.html#Training-on-Large-Datasets

For all the estimators implemented in Dask-ML, see the API documentation.

Points to https://dask-ml.readthedocs.io/en/latest/modules/.html

Should be https://ml.dask.org/modules/api.html# ?

[2020-06-22 16:20] TomAugspurger commented on #155
Yep, https://ml.dask.org/modules/api.html# is the right target.

[2020-06-23 13:27] #155 closed

[2020-07-13 13:47] ahirner commented on #85
Quite some refactoring of [fsspec's HTTP implementation](https://github.com/intake/filesystem_spec/commits/master/fsspec/implementations/http.py) lately.

Are `dask` tests still flaky?
AFAICS, `fsspec` now returns an `HTTPFile` even if range requests are not possible. Does that mean a retry policy in fsspec makes more sense now @martindurant?

[2020-07-13 14:14] martindurant commented on #85
HTTPFileSystem might now return a HTTPStreamFile where previously it returned a raw file-like requests response object. I don't think this changes anything from dask's point of view, except that we don't even try the "lets see if this is smaller than a block" approach. A retry would have to be for the whole of the request, not each call to read. However, a retry on establishing the connection ([he

[2020-08-07 18:34] martindurant commented on #85
(feel free to implement that in a PR, in case you have the time)

[2020-08-11 14:02] mrocklin opened #162 "CI Failures"
It looks like CI is now failing

https://travis-ci.org/github/dask/dask-examples/builds/716774531

Some highlights

<details>

<summary> Prophet install </summary

[code]

</details>

<details>

<summary> Version check issue </summary>

[code]

</details>

<details>

<summary> TPot </summary>

[code]

</details>

[2020-08-14 11:56] TomAugspurger commented on #162
I'll take a look today or Monday.

[2020-08-17 19:58] #162 closed

[2020-09-03 19:02] mrocklin opened #167 "Update prophet notebook"
The current prophet notebook talks about installing from master.  My guess is that this is no longer necessary.

It would be useful if someone can check on this, and update the notebook if possible.

[2020-09-30 18:54] mulka-hop opened #169 "Links in Image Processing page aren't working"
The links at the top of the Image Processing page aren't working. Clicking any of the links at the top doesn't bring you down the page to the content as it should.
https://examples.dask.org/applications/image-processing.html

I'm thinking maybe it has to do with the extra apostrophe in the last (cleanup) link? Didn't have time to test that theory though.

[2020-10-03 12:14] pratyakshajha commented on #152
I would like to take this up if anyone else hasn't already. I can start by manually fixing the URLs listed in the issue.

[2020-10-03 15:21] jrbourbeau commented on #152
That would be welcome, thanks @pratyakshajha!

[2020-10-29 20:06] raybellwaves opened #170 "Add dask-sql example(s)"
As was commented on the dask-sql repo

https://github.com/nils-braun/dask-sql/pull/60#issuecomment-717541194

[2020-10-29 20:49] nils-braun commented on #170
I am happy to create a first draft :-)

[2020-11-02 17:09] jacobtomlinson opened #172 "Migrate CI to GitHub Actions"
Due to changes in the Travis CI billing, the Dask org is migrating CI to GitHub Actions.

This repo contains a `.travis.yml` file which needs to be replaced with an equivalent `.github/workflows/ci.yml` file.

See dask/community#107 for more details.

[2020-11-03 14:00] nils-braun opened #173 "Can not use "conda install in binder environment""
It seems that to whatever reasons, it is not possible to install a package into the binder environment via conda.
I tried via the terminal or directly from within the jupyter notebook. I started binder by clicking one of the links from the dask-example page.

It does not really matter which package (I tried dask-sql, but also e.g. pandas, which is already installed). Both fail with:
[code]

The in

[2020-11-03 15:16] mrocklin commented on #173
cc'ing conda/dask experts @jakirkham @mariusvniekerk in case they have any insight

[2020-11-05 10:22] #172 closed

[2020-11-05 14:08] quasiben commented on #173
Can you get the conda version being used in the binder example ? If it's less than 4.9 we should probably upgrade it

[2020-11-05 20:35] nils-braun commented on #173
Thanks for your comment @quasiben. I just checked: The currently running image includes conda in version 4.8.2. If 4.9 will really help, that could be an issue.
Where is the conda version specified? Isn't this part of the mybinder installation process where we do not have a large number of configuration possibilities?

[2020-11-05 21:33] quasiben commented on #173
No that's probably not it then.  I launched an instanced on binder and things pleasantly worked with `mamba`. i would suggest either using mamba or pip, or, why not add directly to the env.yml file ?  Any reason not to do this @mrocklin  ?

[2020-11-05 22:35] nils-braun commented on #173
Yes, image size. The package I would like to add (dask-sql) adds another approx 400 MB, which is quite a lot.

mamba is definitely a possibility, but as it should also showcase on how to install the package and mamba is not as known as conda, I am a bit hesitant. But sure, if it works I am fine with it.

[2020-11-06 14:31] jsignell commented on #173
I'm wondering if this is a channel issue. It seems that both  nodejs==14 and numpy==1.18 are in the env: https://github.com/dask/dask-examples/blob/master/binder/environment.yml, but they are coming from conda-forge. Does your conda install work if you specify the channel?

[2020-11-06 14:50] quasiben commented on #173
@jsignell I tried your suggestion but that also doesn't work.  Also it _does_ work with Mamba:

<details>

[code]
</details>

I also tried with:

And received the same `PackagesNotFoundError` error

[2020-11-06 14:57] jsignell commented on #173
Yeah I tried it too :( I feel like there must be some conda settings somewhere, but I can't find them

[2020-11-06 15:03] jsignell commented on #173
Nah that's not it either. I just checked them and conda-forge is in the default channels list, so adding the channel makes no difference.

[2020-11-12 06:38] ArgosLee commented on #121
I am facing the same issue here, any solutions?

[2020-11-12 07:21] tomasleon2 commented on #121
@ArgosLee  I can't remember the exact error / solution I faced months ago. I think is was something with the Flag variable. Here the link to my code which works.. Hope this helps.
https://github.com/tomasleon2/XgBoost-Dask/blob/main/XgBoost%20Dask.ipynb

[2020-11-16 03:35] ArgosLee commented on #121
@tomasleon2 Thank you for your answer, i will give it a try later!

[2020-11-24 23:52] zzhengnan opened #178 "Placement of interactive dashboard in JupyterLab"
Not sure if this strictly counts as a bug, but here goes.

When running the [example notebook for `delayed`](https://github.com/dask/dask-examples/blob/master/delayed.ipynb) online (after clicking "launch binder"), I was expecting the interactive dashboard to show up in the two panes on the right side of the JupyterLab window. This turned out not to be the case, as the two panes remained blank thr

[2020-11-25 00:02] jrbourbeau commented on #178
Thanks for raising an issue @zzhengnan! The dashboard should show up and connect to your `Client` automatically. However the "task stream" and "progress" plots don't show any content until a computation starts on the cluster. Looking at the delayed notebook, the seventh code cell is where the first computation on the cluster occurs (`z.compute()` in the "Run in parallel" section). What happens whe

[2020-11-25 03:00] zzhengnan commented on #178
Thanks for the context, @jrbourbeau. I just tested and can confirm the dashboard shows up as expected when `.compute()` is called for the first time. I was being too impatient :)

[2020-11-25 03:00] #178 closed

[2020-12-17 12:36] subham1 commented on #121
I am also facing this issue. I also tried with the notebook shared by @tomasleon2, but I am still not able to resolve this error. Can someone help with this?

[2021-01-02 05:40] #169 closed

[2021-01-27 16:14] jsignell opened #184 "Move default branch from "master" -> "main""
@jrbourbeau and I are in the process of moving the default branch for this repo from master to main.

 - [x] Changed in GitHub
 - [x] Merged PR to change branch name in code (xref https://github.com/dask/dask-examples/pull/183)

What you need to do locally:

[code]

[2021-01-27 16:52] #184 closed

[2021-05-13 14:48] rrpelgrim commented on #121
I ran into this issue as well. For me, the problem was that some of my columns couldn't be converted to 'int64' because they still included NaN values. Dropping those columns solved the problem for me.

[2021-07-21 03:22] edesz commented on #167
Hi there, I think this update was made to the `prophet` notebook yesterday in #190. The installation line was [changed](https://github.com/dask/dask-examples/pull/190/files#diff-5275cdcb93a06341f49efb1d218163a8f52367015a14404a133f1026be568060R30). `pip install prophet` works fine now. I think that change does resolve this issue.

[2021-09-13 03:54] GenevieveBuckley opened #195 "json-data-on-the-web CI check timing out"
The notebook `applications/json-data-on-the-web.ipynb` appears to be timing out when the CI checks run. Just thought I'd flag that here in case it's a problem (might just be a flaky test/notebook, though)

[code]

[2021-09-13 04:43] GenevieveBuckley commented on #195
It might be that this cell is too long running? It's taking a really long time on my local machine

[code]

[2021-09-13 04:44] GenevieveBuckley commented on #195
The [nbmake](https://github.com/treebeardtech/nbmake) pytest plugin says you can configure the timeouts like this:

[2021-09-16 23:44] GenevieveBuckley opened #196 "Binder badge links give 404 errors from survey result notebooks"
**What happened**:

When I click the binder badge included in the first few cells of the survey notebooks

- Survey notebooks: https://github.com/dask/dask-examples/tree/main/surveys
- Example binder link: https://mybinder.org/v2/gh/dask/dask-examples/main?filepath=surveys/2020.ipynb

![image](https://user-images.githubusercontent.com/30920819/133702019-db4e3c4d-2f38-4399-9e08-33b27828fd8f.png)

*

[2021-09-17 00:25] GenevieveBuckley commented on #196
I found these relevant issues:
- https://github.com/jupyterhub/binderhub/issues/616
- https://github.com/jupyterhub/binder/issues/167
- https://github.com/jupyterhub/binderhub/issues/622

They suggest:
- making sure there is no leading `/` in the notebook filepath
- waiting longer to see if the 404 error turns into a notebook at some point (I waited >5 minutes, also refreshed the page after that i

[2021-09-17 00:47] GenevieveBuckley commented on #196
Unsure if the change where mybinder now uses JupyterLab by default is relevant or not: https://discourse.jupyter.org/t/mybinder-org-using-jupyterlab-by-default/10715

[2021-09-17 00:55] GenevieveBuckley commented on #196
This might be the answer: https://discourse.jupyter.org/t/bug-path-to-a-notebook-file-functionality-unexepectedly-changed-not-working-for-notebooks-in-subfolders/10811

[2021-09-17 01:36] GenevieveBuckley commented on #196
Copying the relevant portion of my comment from the linked PR:

[2021-09-17 09:33] #196 closed

[2021-10-14 14:14] #3 closed

[2021-10-14 14:15] #11 closed, assigned to nobody

[2021-10-14 14:22] jacobtomlinson opened #200 "Remove binder banner in favour of theme banner"
The new version of the `dask-sphinx-theme` is now based on the `executable-book-theme` which automatically adds a banner for pages built from `.ipynb` files printing folks to head to Binder.

So we can remove the Binder banner from here now.

[2021-10-14 14:27] jacobtomlinson commented on #110
There's been no activity here for some time so I'm going to close it out.

[2021-10-14 14:27] #110 closed

[2021-10-14 14:29] jacobtomlinson commented on #121
Given that there has been little activity here lately and that there aren't really any actions we can take for the `dask-examples` repo specifically from this I'm going to close this out.

[2021-10-14 14:32] #138 closed

[2021-12-17 22:35] mrocklin opened #204 "Dashboard needs to be set up every time"
I suspect that we need to update the JLab workspace yaml file.  Everything looks fine when you first start up, but once you actually create a cluster things reset poorly.   cc @ian-r-rose

[2021-12-20 20:29] ian-r-rose commented on #204
I believe this is a result of drift between the individual plots names and the defaults in `dask-labextension`. When there is a mismatch, we currently bail.

This is fixable by getting #187 over the line and fixing https://github.com/dask/dask-labextension/issues/216

[2022-01-31 16:23] bryanwweber opened #206 "Update dependencies and ensure all notebooks are working"
Hi dask-examples maintainers! As I'm learning Dask after starting @coiled I thought about adding an example here, or at least doing something that could work in that direction. While getting set up, I noticed that a number of the dependencies of the repo are out-of-date or not available for the `aarch64`/`arm64` (Mac M1) platform. Specifically:

* `dask` is pinned to 2.20.0, but 2022.1.1 was relea

[2022-01-31 19:21] bryanwweber commented on #206
Fortunately, it seems as though prophet has the ability to use the cmdstan backend, which does not require pystan at all. At the moment, this requires manually installing dependencies, but hopefully this will improve. xref https://github.com/facebook/prophet/issues/2041 and https://github.com/facebook/prophet/pull/2088

[2022-01-31 22:04] bryanwweber commented on #206
Trying to build the `cmdstan` examples, with the `cmdstan` package from `conda-forge` results in a missing `lgcc` error:

[code]

For context, this is in an Ubuntu aarch64 Docker container. I suppose this should be filed as an issue against `conda-forge/cmdstan-feedstock`, but I wanted to drop it here for now as I'm closing up for the day.

[2022-02-02 20:57] saulshanabrook commented on #173
Same for me... So odd!

[2022-02-02 21:10] saulshanabrook commented on #173
Locally it fails for me with:

[code]

It does seem to be building in the github actions with the environment.yml, but it does fail for me locally on mac with an arm chip.

I believe my issue is that these packages, `nodejs=14` and `bokeh=2.1.1` have no builds on conda forge for an arm mac.

If I upgrade them both to a version that does have those builds, then it can create it locally. I will crea

[2022-02-03 15:22] bryanwweber commented on #206
So I put together a `devcontainer` for VS Code remote, it's living over on this branch: https://github.com/bryanwweber/dask-examples/tree/devcontainer. What  that allows is to use the VS Code Remove Development extension and run all the notebooks in a Docker container with all the dependencies already installed. That will hopefully be quite useful for anyone wanting to add/extend examples, but I d

[2022-02-03 16:48] bryanwweber commented on #206
Another question I have is, what is the purpose of the repo2docker CI job? Does that image get uploaded anywhere, or is it just to see that repo2docker continues to work? I also note that the `build-and-deploy` CI job has failed on `main` with the last two pushes, although it succeeded on the two branches that were merged. https://github.com/dask/dask-examples/actions/runs/1786946502 https://githu

[2022-02-03 19:46] bryanwweber commented on #206
FWIW here, VS Code offers the ability to set up an external folder to store `devcontainer` configuration: https://code.visualstudio.com/docs/remote/create-dev-container#_alternative-repository-configuration-folders

[2022-02-04 19:18] bryanwweber opened #208 "Running the Bag example several times consecutively results in a `JSONDecodeError`"
**What happened**:
Running the `bag.ipynb` example several times on the same machine eventually fails at the first `Transform and Save` code cell. The `.to_textfiles()` call causes a `JSONDecodeError` due to an unterminated string. The line/column varies, but the error is consistent.

**What you expected to happen**:
The example should run without error.

**Minimal Complete Verifiable Example**:

[2022-05-04 15:51] jrbourbeau opened #220 "Automatically clear notebook output"
Over in https://github.com/dask/dask-examples/pull/218 @bryanwweber mentioned he used `jupyter nbconvert --clear-output --inplace` to automatically clear the output from the example notebooks (xref https://github.com/dask/dask-examples/pull/218#discussion_r864965302). It would be great if there was some way we could automatically have this happen, for example in a `pre-commit` hook or something, t

[2022-05-05 21:24] #206 closed

[2022-05-16 13:42] #170 closed

[2022-06-08 09:52] rrpelgrim opened #223 "XGBoost example notebook uses deprecated dask-xgboost"

[2022-06-14 00:19] charlesbluca opened #224 "Website missing `dask-sphinx-theme` font"
After the bump to the new `dask-sphinx-theme`, it looks like the examples page isn't picking up the font being used on all other Dask pages for some reason:

![image](https://user-images.githubusercontent.com/20627856/173467451-350711c5-40bf-4e8a-aca4-f9b74d709254.png)

In contrast to Dask's documentation:

![image](https://user-images.githubusercontent.com/20627856/173468104-b93a3b59-4082-41bb-ba

[2022-06-14 09:48] jacobtomlinson commented on #224
Thanks @charlesbluca! I've opened https://github.com/dask/dask-sphinx-theme/pull/77 to switch back from vendored fonts to CDN hosted ones which should resolve this issue.

[2022-06-17 02:54] jrbourbeau commented on #224
Closed via https://github.com/dask/dask-sphinx-theme/pull/77. Thanks @charlesbluca for reporting and @jacobtomlinson for fixing

[2022-06-17 02:54] #224 closed

[2022-07-27 14:31] jsignell commented on #220
Looks like we can use [nbstripout](https://github.com/kynan/nbstripout/) like:

[code]

[2022-07-27 19:04] #220 closed

[2022-08-01 03:10] windowshopr opened #227 "Create an Example of Using TPOT Using Dataset that DOESN'T Fit in Memory"
All of the examples I've seen either:

1. Show TPOT using Dask for training on a dataset that fits in memory ([shown here](https://examples.dask.org/machine-learning/tpot.html))
2. Show how to use Dask-ml with `Incremental` to train on a dataset that doesn't fit in memory ([shown here](https://examples.dask.org/machine-learning/training-on-large-datasets.html))

...but not how to use TPOT AND a la

[2022-08-02 16:50] jsignell commented on #227
Thanks for opening this! I agree that it is always good to have examples that really show the power of Dask :)

[2022-08-15 04:06] MichaelChaoLi-cpu commented on #22
Hi, @mrocklin
In the example, the GridSearch function is used. That means several models will be built, and then their scores will be compared.
I want to know whether either all workers do one single task together, or each worker implements different tasks (models with different hyperparameters).

Recently, I am training a large model:
[code]
I tried it on one node (180GB memory, 36 cores) of a cl

[2022-08-15 11:40] TomAugspurger commented on #22
This original request is done in https://examples.dask.org/machine-learning/scale-scikit-learn.html

---

@MichaelChaoLi-cpu if you have usage questions, I think the Dask discourse is the best place for them these days. Make sure to include a [minimal example](https://blog.dask.org/2018/02/28/minimal-bug-reports) if you can.

[2022-08-15 11:40] #22 closed

[2022-10-19 08:27] mad-stat opened #228 "Issue with dask_ml"
I am facing this issue every time I tend to use dask for my ML project. Even I tried to follow the XGBoost.ipynb file of the dask-examples repository but this error crops up whenever I am trying to import stuffs from dask_ml

cannot import name '_is_constant_feature' from 'sklearn.preprocessing._data' (/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_data.py)

[2022-11-03 21:31] mrocklin opened #230 "Large scale XGBoost example with HyperParameter Optimization"
*I'm abusing this issue tracker a bit, but it seemed better than bringing this to, say, dask/community*

I'd like us to think about doing a larger workflow study around XGBoost and some related technologies (xgboost.dask, optuna, maybe snowflake).  I've seen a few groups in the wild try to combine these technologies with varied success.  This would also, I think, have some impact.

Broadly, people

[2022-11-04 00:07] mrocklin commented on #230
@mmccarty I played with your notebook here: https://gist.github.com/mrocklin/19c41a28739c4205498b4fc6bc6a21fc

I made a few small changes:

1. I use the new Dask+Optuna work.  Mostly this means that you don't need to set up a MySQL database.
2. I use Coiled rather than Kubernetes, both for convenience, and so that I could get the Optuna work to the cluster easily
3. I didn't use GPUs, mostly becau

[2022-11-04 00:08] mrocklin commented on #230
More nicely rendered with Yuvi's thing: https://notebooksharing.space/view/d73b8a569123452dc41f3686013ee814b59a24161af8d7f62ace1f9e26ae56fd#displayOptions=

[2022-11-04 13:56] mmccarty commented on #230
Thanks for the feedback, @mrocklin !

Yeah, the MySQL db was just a temporary work-around. Looking forward to that optuna PR landing.

[This dataset](https://www.kaggle.com/competitions/amex-default-prediction/data?select=train_data.csv) looks interesting and  fun for GPUs.

[2022-11-22 22:41] mrocklin commented on #230
@mmccarty if you or folks around you has recommendations for what a dataset + problem at a more interesting size would be I'd be curious about that.  My experience with the notebook above was that training times were very fast (even on CPU).  I see the dataset that you've pointed to above.  Any chance you all have taken a crack at it yet?

Also, any ideas on larger datasets appropriate for multi-n

[2022-11-23 10:04] jacobtomlinson commented on #230
cc @hcho3

[2022-11-23 15:03] mmccarty commented on #230
Not yet that I'm aware of, but I believe Philip is looking at adding that dataset. Would love to see a multi-node example!

[2022-11-28 14:43] mrocklin commented on #230
Example structure of what I would recommend as a first pass for a dask-xgboost approach (lots of dask clusters)

https://gist.github.com/mrocklin/4073ade8e1a32c52525fe897e4014943

[2022-11-28 15:49] mrocklin commented on #230
Or, perhaps simpler if the time to train is much longer than the time to start a Dask cluster: https://gist.github.com/mrocklin/41b09457f1976f8af22ce72a9133586a